[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
jupyterlab = "*"
pandas = "*"
matplotlib = "*"
ultralytics = "*"
torch = "*"
torchvision = "*"
pillow = "*"
pyarrow = "*"
opencv-python = "*"
tensorboard = "*"
tensorflow = "*"
lightning = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.13"
